fileFormatVersion: 2
guid: 8d15fa0ae428a4047b4179bf0bebb18f
timeCreated: 1535183861
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
