fileFormatVersion: 2
guid: 0c7bf9c0af621924383ce1357b177a16
timeCreated: 1535183861
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
